if helper.validArray(resume.awards)
    //- div(class='awards margin-container-4')
    //-     p(class='section-title no-alone-1') Awards
    //-     div(class='container')
    //-         each award in resume.awards
    //-             div(class='article margin-container-2 no-break')
    //-                 div(class='header')
    //-                     span(class='awarder')=award.awarder
    //-                     if award.awarder && award.title
    //-                         | #{' · '}
    //-                     span(class='title')=award.title
    //-                 //- div(class='summary markdown margin-text-1')!=helper.mdToHtml(award.summary)

    div(class='work margin-container-4')
        p(class='section-title no-alone-2') Achievements
        div(class='container')
            each achievement in resume.awards
                div(class='article margin-container-3')
                    div(class='header no-alone-1')
                        div(class='table')
                            div(class='left')
                                span(class='position')
                                    a(href=achievement.certUrl)=achievement.name

                                span(class='company-location margin-text-1')
                                    a(href=achievement.organizerUrl)=achievement.organizer
                            div(class='right')
                                span(class='dates')=achievement.issueDate
                    div(class='summary markdown')!=helper.mdToHtml(achievement.summary)
                    if helper.validArray(achievement.highlights)
                        ul(class='highlights no-break')
                            each highlight in achievement.highlights
                                li=highlight
