if helper.validArray(resume.certificates)
    //- div(class='certificates margin-container-4')
    //-     p(class='section-title no-alone-1') Certificates
    //-     div(class='container')
    //-         each certificate in resume.certificates
    //-             div(class='article margin-container-2 no-break')
    //-                 div(class='name markdown')
    //-                     a(href=certificate.url)!=helper.mdToHtml(certificate.name)
    //-                 span(class='issuer')=certificate.issuer

    div(class='work margin-container-4')
        p(class='section-title no-alone-2') Certificates
        div(class='container')
            each cert in resume.certificates
                div(class='article margin-container-3')
                    div(class='header no-alone-1')
                        div(class='table')
                            div(class='left')
                                span(class='position')
                                    a(href=cert.certUrl)=cert.name
                                span(class='company-location margin-text-1')
                                    a(href=cert.courseUrl)=cert.organizer
                            div(class='right')
                                span(class='dates')=cert.issueDate
                    div(class='summary markdown')!=helper.mdToHtml(cert.summary)
                    if helper.validArray(cert.highlights)
                        ul(class='highlights no-break')
                            each highlight in cert.highlights
                                li=highlight
