//- if helper.validArray(resume.writing)
//-     div(class='writing margin-container-4')
//-         p(class='section-title no-alone-2') Articles
//-         div(class='container')
//-             each writing in resume.writing
//-                 div(class='article margin-container-3')
//-                     div(class='header no-alone-1')
//-                         div(class='table')
//-                             div(class='left' style='display:table-cell;')
//-                                 span(class='company-location margin-text-1')
//-                                     a(href=writing.reference)=writing.name

if helper.validArray(resume.writing)
    div(class='work margin-container-4')
        p(class='section-title no-alone-2') Writing Projects
        div(class='container')
            each piece in resume.writing
                div(class='article margin-container-3')
                    div(class='header no-alone-1')
                        div(class='table')
                            div(class='left')
                                span(class='position')=piece.position
                                span(class='company-location margin-text-1')
                                    a(href=piece.url)=piece.name
                                    if piece.name && piece.location
                                        | #{' · '}
                                    | #{piece.location}
                            div(class='right')
                                span(class='dates')=helper.calcDateRange(piece.startDate, piece.endDate)
                    div(class='summary markdown')!=helper.mdToHtml(piece.summary)
                    if helper.validArray(piece.highlights)
                        ul(class='highlights no-break')
                            each highlight in piece.highlights
                                li=highlight